<!DOCTYPE html>
<html>
    <head>
        <title>
            @ViewBag.Title
        </title>

        @Content.StyleSheeet("themes/ui-lightness/jquery-ui-1.8.21.custom.css", Url)
        @Content.StyleSheeet("MatsStyleSheet.css", Url)
        @Content.StyleSheeet("Recipe.Ingredients.css", Url)
        @Content.StyleSheeet("Recipe.Instructions.css", Url)

        @Content.Script("jquery/jquery-1.7.2.js", Url)°
        @Content.Script("jquery-ui/jquery-ui-1.8.19.js", Url)
        @Content.Script("knockout-2.1.0.debug.js", Url)
        @Content.Script("ComboBoxWidget.js", Url)
        @Content.Script("recipe/recipe.utilities.js", Url)
        @Content.Script("recipe/recipe.ingredients.js", Url)
        @Content.Script("recipe/recipe.general.js", Url)
        @Content.Script("recipe/recipe.ingredientSection.js", Url)
        @Content.Script("recipe/recipe.ingredientList.js", Url)
        @Content.Script("recipe/recipe.instructions.js", Url)
        @Content.Script("recipe/recipe.save.js", Url)
    </head>

<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
            @*    <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>*@
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>


