@using Microsoft.IdentityModel.Claims
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mats' Recipe</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/RecipeEditor")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/recipe")    @*This should go to the end! *@
    </head>
    <body>
        <header>
            
            <h1>Mats' Recipe App</h1>
            
            <div id="quicksearch">
                <form>
                    <input type="text" maxlength="20" />
                    <input type="submit" value="Search" />
                </form>
            </div>

            <div id="navigation">
                @Html.ActionLink("Alle Rezepte", "Index", "Home")  ¦          
                @Html.ActionLink("Nach Rezept suchen", "SearchRecipe", "Home")  ¦          
                @Html.ActionLink("Rezept erstellen", "CreateRecipe", "Home")  ¦            
                @Html.ActionLink("Profil bearbeiten", "UserProfile", "Home")                
            </div>

            <div id="user">
                @if (Request.IsAuthenticated) {
                    <text>Hallo @((User.Identity as IClaimsIdentity).Label) ¦ </text>
                    @Html.ActionLink("Logout", "LogOff", "Account")
                } else {
                    @Html.ActionLink("Login", "Login", "Account", new { returnUrl = Request.Url.LocalPath }, null)     <text>¦</text>                          
                    @Html.ActionLink("Register", "Register", "Account", new { returnUrl = Request.Url.LocalPath }, null)                    
                }     
            </div>

        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year Mats Bader</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")
        @RenderSection("scripts", required: false)
    </body>
</html>
