@model RecipeWebRole.Models.Recipe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Recipe Editor</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")  
    </head>

    <body>
        <div id="waitdialog">
            <img src="/Content/wait-indicator.gif" alt="Wait" />
            <p>Please wait while the Recipe Editor is being prepared...</p>
        </div>
        
        <div id="recipeEditor" >
            @*Filled dynamically*@
        </div>
    </body>
</html>



<script type="text/javascript">

    $('#recipeEditor').hide();

    $(document).ready(function () {

        // show the modal dialog (without titlebar)
        (function () {
            $('#waitdialog').dialog({
                height: 120,
                modal: true,
                title: '',
                resizable: 'false',
                dialogClass: 'normal-dialog',
                autoOpen: true
            });
        })();
        $('.ui-dialog-titlebar').css('visibility', 'none');

        var htmlLoaded = false;
        var scriptLoaded = false;
        var cssLoaded = false;

        // get html
        $('#recipeEditor').load('/BlankRecipeEditor/RecipeEditor', function () {
            htmlLoaded = true;
            showEditor();
        });

        // get javascript
        $.getScript('@BundleTable.Bundles.ResolveBundleUrl("~/bundles/recipe")', function () {
            scriptLoaded = true;
            showEditor();
        });

        // get style
        $.get('@BundleTable.Bundles.ResolveBundleUrl("~/Content/RecipeEditor")', function (data) {
            $("<style></style>").appendTo("head").html(data);
            cssLoaded = true;
            showEditor();
        });

        function showEditor() {
            if (htmlLoaded && scriptLoaded && cssLoaded) {

                // script must only execute once html-files are fully loaded!
                recipeEditor.init();

                @if(Model != null)
                {
                    @:var jsonText = '@Html.Raw(Json.Encode(Model)) ';
                    @:var data = jQuery.parseJSON(jsonText);
                    @:recipe.persistence.setData(data);
                }
                else
                {
                    @:recipe.persistence.setData(undefined);
                }

                $('#waitdialog').dialog('close');
                $('#recipeEditor').show();
            }
        }
    });
    
</script>